@model AssetManager.Models.Maintenance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Maintenance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaintainceDiscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaintainceDiscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaintainceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaintainceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaintainceRequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaintainceRequestDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaintainceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
